* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

$paleta: #72a461, #78a8c8, #9c7c5c, #ffa03c, #d2d2d2;

@mixin flex($flex, $items, $content) {
	display: $flex;
	align-items: $items;
	justify-content: $content;
}

@mixin tamano($height, $width) {
	height: $height;
	width: $width;
}
